.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
    height: 100px;
  }
  
  .form-container textarea {
    flex-grow: 1;
  }